/* =================================
  Universal Styles
==================================== */

/* Base Styles */

html {
  font-size: 18px;
  box-sizing: border-box;
}

body {
  font-family: 'Helvetica', sans-serif;
  font-size: 18px;
}

h1,
h4 {
  font-weight: bold;
}

a {
  color: #fff;
}

/* =================================
  Main Styles
==================================== */

/* Header Styles */

.top-bar {
  background-color: #000;
  color: #fff;
}

.top-bar .container {
  display: flex;
  align-items: center;
  padding: 0.66rem 0.5rem;
}

.top-bar img {
  height: 1.5rem;
  padding-right: 1rem;
}

/* Main Content Styles */

.container {
  width: 960px;
  margin: 0 auto;
}

/* Banner Section Styles */

.banner {
  height: 25rem;
  background-image: url('../images/moto.jpeg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.headline {
  background-color: #000;
  color: #fff;
  width: 20rem;
  padding: 2rem 3rem;
  position: relative;
  top: 9rem;
}

.headline h1 {
  font-size: 2rem;
  margin: 0.25rem 0;
}
